* {
    margin: 0px;
    padding: 0px;
}

html {
    min-height:100%;
}

body {
    min-height:100%;
    background-color: #094051;
}

a {
    text-decoration: none;
}

li {
    display: block;
}

.initial_page {
    width: 100%;
    height: 0;
}

.transition_buttom:hover {
    background-color: #30696c;
}

.about {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.explanation {
    max-width: 100%;
    background-color: rgba(0, 5, 26, 0.7);
    padding: 100px;
}

.main_text {
    font-size: 30px;
    line-height: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
}

.tema {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    width: 100px;
    padding: 20px;
}

.about_content {
    text-align: center;
    margin-top: 7vh;
    margin-left: 100px;
    margin-right: 150px;
    background-color: rgba(0, 5, 26, 0.7);
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(6, 10, 12);
    padding: 0px 20px 60px 20px;
    cursor: pointer;
}

.about_content:hover {
    box-shadow: 15px 15px 15px rgb(11, 189, 225);
    transform: scale(1.1, 1.1);
    transition: 1s;
}


.preview_content {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(201, 225, 228);
}

.content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(43, 142, 185);
}

.main_options {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 5, 26, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translateY(-100%);
}

.logo_header {
    width: 55px;
}

.main_menu {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.option_nav {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
    color: white;
}

.border_bottom {
    margin: 5px 10px 5px 10px;
}

.border_bottom:hover {
    border-bottom: solid;
}

.sections {
    transform: translateX(-110%);
    margin-left: 1%;
    margin-right: 1%;
    height: 0px;
    /* background-color: rgba(0, 5, 26, 0.7); */
    border-radius: 20px;
}

.section_content {
    height: 0px;
    transform: translateX(-110%);
}

.transition_main {
    min-height: 85vh;
    transform: translateY(3%);
    transition: 0.75s;
}

.transition_section {
    height: 100%;
    transform: translateY(3%);
    transition: 0.75s;
}

.transition_options {
    transform: translateY(0%);
    transition: 0.75s;
}

.add_transition {
    transform: translateX(100%);
    overflow: hidden;
}

.border {
    border-bottom: solid;
}

.content_text {
    max-width: 700px;
    text-align:justify;
    text-justify: inter-word;
    font-size: 18px;
    margin-top: 20px;
}

.center_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.canvas_container {
    /* margin-top: 200px; */
    position: relative;
    background-color: white;
    width: 1200px;
    height: 600px;
    border-radius: 32px;
}

.spheres_button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    text-align: center;
    background-color: rgba(0, 5, 26, 0.7);
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.75s ease 0s
}

.spheres_button:hover {
    background-color: rgb(11, 189, 225);
    color: black;
    transform: scale(1.1, 1.1);
}